#menu{
	color: white;
	background-color: #45015d;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 15px;
	position: fixed;
	top: 0;
	left: 0;
	width: 150px;
	height: 100%;

}
#menu a{
	color: inherit;
	display: block;
	width: 100%;
	padding: 8px 16px;
	text-decoration: none;
	box-sizing: border-box;
}
#menu a:hover{
	background-color: white;
	color: black;
}
#main{
	margin: 80px 40px 0 360px;
}
h1{
	font-size: 64px;
	font-weight: normal;
}
body{
	margin: 0px;
	font-size: 16px;
	line-height: 1.5;
	font-family: "Poppins", sans-serif;
}
.images img{
	width: 45%;
	border-radius: 10px;
	margin: 5px;
	opacity: 0.7;
}
.images img:hover{
	opacity: 1;
}
h2{
	color: #45015d;
	font-size: 48px;
	margin: 10px 0;
	font-weight: normal;
}
hr{
	width: 100%;
	border: 5px solid #45015d;
	border-radius: 4px;
	margin: 20px 0;
}
.member{
	padding: 8px;
	width: 30%;
	display: inline-block;
}
.member img{
	width: 100%;
	filter: grayscale(30%);
	border-radius: 10px;
}
.member .desc{
	background-color: #F1F1F1;
	border-radius: 5px;
	padding: 2px 16px 5px;
}
.member .position{
	color: gray;
}
 #tarifs .tarif{
	width: 49%;
	display: inline-block;
	padding: 0px 8px;
	min-width: 150px;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
}
.tarif ul{
	padding: 0;
	margin: 0;
	background-color: #F1F1F1;
	border-radius: 10px;
}
.tarif li{
	list-style: none;
	border-bottom: 1px solid #ddd;
	border-radius: 10px;
	padding: 16px 0;
}
.tarif-name{
	background-color: #45015d;
	color: #ffffff;
	padding: 32px 0;
	font-size: 24px;
}
.price{
	font-size: 30px;
}
.day{
	opacity: 70%;
}
.tarif button{
	color: #45015d;
	background-color: #ffffff;
	border-radius: 20px;
	padding: 15px 20px;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: inherit;
	font-size: 16px;
}
.tarif button:hover{
	color: #ffffff;
	background-color: #45015d;
}
.pro .tarif-name{
	background-color: #f44336;
}
.pro button{
	background-color: #f44336;
	color: white;
}
.pro button:hover{
	background-color: white;
	color: #f44336;
}
#contact input{
	width: 100%;
	outline: none;
	padding: 8px;
	display: block;
	box-sizing: border-box;
	font-size: 16px;
	border: 1px solid #ccc
}
#contact button{
	width: 100%;
	border-radius: 10px;
	outline: none;
	border: none;
	background-color: #45015d;
	color: #ffffff;
	padding: 12px 24px;
	display: block;
	cursor: pointer;
	font-family: inherit;
}	
#contact button:hover{
	background-color: #ffffff;
	color: #45015d;
}
#footer{
	text-align: right;
	padding: 32px 58px;
	background-color: #f1f1f1;
}
#footer a{
	color: black;
}
#designers, #services, #tarifs, #contact, #footer{
	margin-top: 75px;
}














